/* required to load */
#galleria{ height: 550px; }

#galleria-loader{height:1px!important}

.galleria-info{
    position: absolute;
    top: 48px;
    background-color: #F1F1F1;
    opacity: 0.7;
    z-index: 4;
    left: 10px;
    width: 500px;
}

.galleria-stage {
    position: absolute;
    top: 0px;
    bottom: 60px;
    left: 10px;
    right: 10px;
    width: 500px;
    max-height: 550px;
    float: right;
}

.galleria-thumbnails-container {
    top: 0;
    position: absolute;
    left: 10px;
    right: 10px;
    z-index: 2;
    width: 500px;
}

.galleria-thumbnails .galleria-image {
    height: 40px;
    width: 60px;
    margin: 0 5px 0 0;
    border: 1px solid #000;
    float: left;
    cursor: pointer;
}

.galleria-counter {
    position: absolute;
    bottom: 30px;
    left: 10px;
}

.galleria-image-nav {
    position: absolute;
    top: 50%;
    margin-top: -62px;
    width: 500px;
    height: 62px;
    left: 0;
}

.galleria-image-nav-left,
.galleria-image-nav-right {
    opacity: .5;
    filter: alpha(opacity=50);
    cursor: pointer;
    width: 35px;
    height: 124px;
    position: absolute;
    left: 0;
    z-index: 2;
    background-color: gray;
}

.galleria-image-nav-right {
    left: auto;
    right: 0;
    z-index: 2;
}

.galleria-image-nav-left:hover,
.galleria-image-nav-right:hover {
    opacity: .9;
    filter: alpha(opacity=90);
}


/* media queries */

/* for smartphones */
@media only screen and (max-width : 480px){
    .galleria-stage, .galleria-thumbnails-container,
    .galleria-thumbnails-container, .galleria-image-nav,
    .galleria-info {
        width: 320px;
    }
    #galleria{ height: 300px; }
    .galleria-stage { max-height: 410px; }
}
